<!-- ========== FOOTER ========== -->
<footer class="container">
  <div class="row u-space-2">
    <div class="col-md-4 mb-7 mb-md-0">
      <!-- Coins Name -->
      <div class="media">
        <div class="d-flex mr-3">
          <span class="u-icon u-icon--lg u-icon-primary--air rounded-circle">
            <span class="fa fa-phone u-icon__inner"></span>
          </span>
        </div>
        <div class="media-body">
          <h4 class="u-list__link font-weight-normal mb-0">Call us</h4>
          <span class="d-block font-size-14">+1 (062) 109-9222</span>
        </div>
      </div>
      <!-- End Coins Name -->
    </div>

    <div class="col-md-4 mb-7 mb-md-0">
      <!-- Coins Name -->
      <div class="media">
        <div class="d-flex mr-3">
          <span class="u-icon u-icon--lg u-icon-primary--air rounded-circle">
            <span class="fa fa-envelope u-icon__inner"></span>
          </span>
        </div>
        <div class="media-body">
          <h4 class="u-list__link font-weight-normal mb-0">Email us</h4>
          <span class="d-block font-size-14">support@htmlstream.com</span>
        </div>
      </div>
      <!-- End Coins Name -->
    </div>

    <div class="col-md-4 mb-7 mb-md-0">
      <!-- Coins Name -->
      <div class="media">
        <div class="d-flex mr-3">
          <span class="u-icon u-icon--lg u-icon-primary--air rounded-circle">
            <span class="fa fa-map-marker-alt u-icon__inner"></span>
          </span>
        </div>
        <div class="media-body">
          <h4 class="u-list__link font-weight-normal mb-0">Address</h4>
          <span class="d-block font-size-14">1234 Fake Street, Suite 1200, Citytown, PA 15219</span>
        </div>
      </div>
      <!-- End Coins Name -->
    </div>
  </div>

  <hr class="my-0">

  <div class="row u-space-2">
    <div class="col-6 col-lg-3 mb-7 mb-lg-0">
      <!-- Logo -->
      <a class="d-inline-block mb-3" href="#" aria-label="Front">
        <img src="../assets/svg/logos/logo.svg" alt="Logo" style="width: 120px;">
      </a>
      <!-- End Logo -->

      <!-- Copyright -->
      <p class="small text-muted">© Me. All rights reserved.</p>
      <!-- End Copyright -->
    </div>

    <div class="col-6 col-lg-3 mb-7 mb-lg-0">
      <!-- List -->
      <ul class="list-unstyled u-list u-list--light">
        <li><a class="u-list__link" href="#">Agency</a></li>
        <li><a class="u-list__link" href="#">Start-Up</a></li>
        <li><a class="u-list__link" href="#">Business</a></li>
        <li><a class="u-list__link" href="#">Contacts</a></li>
      </ul>
      <!-- End List -->
    </div>

    <div class="col-6 col-lg-3 mb-7 mb-lg-0">
      <!-- List -->
      <ul class="list-unstyled u-list u-list--light">
        <li><a class="u-list__link" href="#">Help</a></li>
        <li><a class="u-list__link" href="#">Terms</a></li>
        <li><a class="u-list__link" href="#">Privacy</a></li>
      </ul>
      <!-- End List -->
    </div>

    <div class="col-6 col-lg-3 mb-7 mb-lg-0">
      <div class="u-list--light">
        <h4 class="u-list__link font-weight-normal">Connect</h4>
      </div>

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item mb-3">
          <a class="u-icon u-icon--sm u-icon-primary--air rounded" href="#">
            <span class="fab fa-facebook-f u-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item mb-3">
          <a class="u-icon u-icon--sm u-icon-primary--air rounded" href="#">
            <span class="fab fa-google u-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item mb-3">
          <a class="u-icon u-icon--sm u-icon-primary--air rounded" href="#">
            <span class="fab fa-twitter u-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item mb-3">
          <a class="u-icon u-icon--sm u-icon-primary--air rounded" href="#">
            <span class="fab fa-envelope-o u-icon__inner"></span>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
