<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    <!-- JS Global Compulsory -->
      <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
      <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Front -->
    <script src="assets/js/hs.core.js"></script>

    {%- include footer.html -%}

  </body>

</html>
